body{
    background-color: #001e2b;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navigation{
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #636262;
    height: 3.3rem;
}
.nav{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: #f1e6e6;
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.menu{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.logo li{
    padding: 14px 16px;
    list-style-type: none;
    cursor: pointer;
}
.menu li{
    color: #f1e6e6;
    padding: 14px 16px;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.user li{
     color: #f1e6e6;
    padding: 14px 16px;
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}
.menu li:hover{
   color: #27ff82;
}
.user li:hover{
   color: #27ff82;
}
.money{ 
    padding: .9px 16px !important;
    color: #27ff82 !important;
    border: 2px solid #27ff82;
    font-weight: 900 !important;
    border-radius: 16px;
    cursor: pointer;
}

.user_icon{
    width: 0rem;
    height: 1.6rem;
    padding: 1px 15px !important;
    background-color: rgb(16, 145, 196);
    margin-left: 1rem;
    border: 1px solid #f1e6e6;
    border-radius: 50%;
    overflow: hidden;
}
